{% extends "contacts/base.html" %}

{% block content %}

<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Lat/Lng</th>
		</tr>
	</thead>
	<tbody>
		{% for person in people %}
			{% for address in person.address_set.all %}
				<tr>
					{% if forloop.first %}
						<td>{{ person }}</td>
					{% else %}
						<td></td>
					{% endif %}
					<td>
						{{ address }}
					</td>
					<td>
						{% if address.lat %}
						{{ address.lat }} / {{ address.lng }}
						{% else %}
						{{ address.latlng_error }}
						{% endif %}
					</td>
				</tr>
			{% empty %}
				<tr>
					<td>{{ person }}</td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
		{% endfor %}
	</tbody>
</table>

{% endblock %}
