{% load staticfiles %}

<!DOCTYPE html>
<html lang="en-gb">
<head>
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" />
<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}" />
<style>
	body { padding-top: 70px; }
</style>
<title>Contact Lens</title>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<form action="{% url 'search' %}" class="navbar-form navbar-left" role="search">
			<div class="form-group">
				<span>Find all contacts within</span>
				<input id="id_distance_in_miles" class="form-control" name="distance_in_miles" type="number" value="{{ form.distance_in_miles.value }}"/>
				<span>miles of</span>
				<input id="id_postcode" class="form-control span4" name="postcode" type="text" value="{{ form.postcode.value }}"/>
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
		<div class="navbar-header navbar-right">
			<a class="navbar-brand" href="{% url 'search' %}">Contact Lens</a>
		</div>
	</div>
</nav>

<div class="container">
	<p>
	<a href={% url 'all' %}>View all contacts</a>
	|
	<a href={% url 'with_addresses' %}>View contacts with addresses</a>
	|
	<a href={% url 'without_addresses' %}>View contacts without addresses</a>
	|
	<a href={% url 'with_errors' %}>View contacts with errors</a>
	</p>

	{% block content %}{% endblock %}

</div>

</body>
</html>
