<form>
	<table>
		{{ form.as_table }}
		<tr>
			<td></td>
			<td><input type="submit" value="Search" /></td>
		</tr>
	</table>
</form>

{% if addresses %}
	<table>
		<tr>
			<th>Name</th>
			<th>Address</th>
			<th>Distance in miles</th>
		</tr>
		{% for address in addresses %}
			<tr>
				<td>{{ address.person }}</td>
				<td>{{ address }}</td>
				<td>{{ address.distance_in_miles|floatformat }}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

<p><a href={% url 'all' %}>View all contacts</a></p>
