{% extends "contacts/base.html" %}

{% block content %}

<hr />

{% if addresses %}
	<table class="table bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Distance in miles</th>
			</tr>
		</thead>
		<tbody>
			{% for address in addresses %}
				<tr>
					<td>{{ address.person }}</td>
					<td>{{ address }}</td>
					<td>{{ address.distance_in_miles|floatformat }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<hr />
{% endif %}

<hr />
{% endblock %}
